{{ $item := .item }}
{{ $has_attachments := partial "functions/has_attachments" $item }}

<div class="pub-list-item view-citation" style="margin-bottom: 1rem">

  {{/* APA Style */}}
  {{ if eq (site.Params.publications.citation_style | default "apa") "apa" }}

  <!-- Title -->
  <a href="{{ $item.RelPermalink }}" class="underline" style="font-size: 1.2rem">{{ $item.Title }}</a>.<br>

  <!-- Publication Details -->
  {{ if $item.Params.publication_short }}
    <strong>{{ $item.Params.publication_short | markdownify }}</strong>,
  {{ else if $item.Params.publication }}
    <strong>{{ $item.Params.publication | markdownify }}</strong>,
  {{ end }}
  ({{- $item.Date.Format "2006" -}})<br><br>

  <!-- Authors -->
  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" $item }}
  </span>

  {{ if $has_attachments }}
  <div class="flex space-x-3">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}

  {{/* MLA Style */}}
  {{ else }}

  <!-- Title -->
  <a href="{{ $item.RelPermalink }}" style="font-size: 1.2rem">{{ $item.Title }}</a>.<br>

  <!-- Publication Details -->
  {{ if $item.Params.publication_short }}
    <strong>{{ $item.Params.publication_short | markdownify }}</strong>,
  {{ else if $item.Params.publication }}
    <strong>{{ $item.Params.publication | markdownify }}</strong>,
  {{ end }}
  ({{- $item.Date.Format "2006" -}})<br><br>

  <!-- Authors -->
  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" $item }}
  </span>

  {{ if $has_attachments }}
  <div class="flex space-x-3">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}

  {{ end }}
</div>
