<article class="publication">
    <header>
        <h1 class="publication-title">{{ .Title }}</h1>
        <p class="publication-publication">{{ .Params.journal }}</p>
        <p class="publication-date">{{ .Date.Format "2006" }}</p>
    </header>
    <div class="publication-authors">
        <p>{{ .Params.authors }}</p>
    </div>
    <div class="publication-links">
        {{ with .Params.summary }}<a href="{{ . }}">Summary</a>{{ end }}
        {{ with .Params.journal_url }}<a href="{{ . }}">Journal</a>{{ end }}
        {{ with .Params.pdf }}<a href="{{ . }}">PDF</a>{{ end }}
        {{ with .Params.google_scholar }}<a href="{{ . }}">Google Scholar</a>{{ end }}
        {{ with .Params.online_supplement }}<a href="{{ . }}">Online Supplement</a>{{ end }}
        {{ with .Params.media }}<a href="{{ . }}">{{ .Params.media_text }}</a>{{ end }}
    </div>
</article>
