<article class="stream-item view-compact">
    <header class="media-body">
        <h1 class="article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <p class="article-style">{{ .Summary }}</p>
        <p class="article-metadata">
            {{ with .Params.authors }}
            <span>{{ . }}</span>
            {{ end }}
        </p>
        <div class="btn-links">
            {{ with .Params.summary }}<a href="{{ . }}" class="btn btn-outline-primary btn-page-header btn-sm">Summary</a>{{ end }}
            {{ with .Params.journal_url }}<a href="{{ . }}" class="btn btn-outline-primary btn-page-header btn-sm">Journal</a>{{ end }}
            {{ with .Params.pdf }}<a href="{{ . }}" class="btn btn-outline-primary btn-page-header btn-sm">PDF</a>{{ end }}
            {{ with .Params.google_scholar }}<a href="{{ . }}" class="btn btn-outline-primary btn-page-header btn-sm">Google Scholar</a>{{ end }}
            {{ with .Params.online_supplement }}<a href="{{ . }}" class="btn btn-outline-primary btn-page-header btn-sm">Online Supplement</a>{{ end }}
            {{ with .Params.media }}<a href="{{ . }}" class="btn btn-outline-primary btn-page-header btn-sm">{{ .Params.media_text }}</a>{{ end }}
        </div>
    </header>
</article>
